parameters:
    SHAREPOINT:
        urkl: "https://otkgroup.sharepoint.com"
        username: "jnemec@chpn.cz"
        password: "Jnem1281"
    AD:
        controllers: 
            1: 'prgdc11.chpn.cz'
            2: 'prgdc12.chpn.cz'
        base_dn: "DC=chpn,DC=cz"
        account_suffix: ""
        username: "chpn\\admin-jn"
        password: "Jnem1281"


database:
    dsn: 'mysql:host=127.0.0.1;dbname=cp'
    user: cp
    password: cp2018
    options: 
        a: b
 
