{block #header_tmpl}
{/block}
{block content}
<div class="pure-u-sm-24-24 main">
    <h1 class="first_item">Role - editace</h1>
    {control groupEditForm}

    <h2>Skupiny s přístupem</h2>
    {control rightGroupForm}
</div>
{/block}
