{if (isset($username))}
    <span class="loginformusername">{$username}</span>
{/if}
{if (isset($content))}
    echo $content;
{/if}
<script type="text/javascript">
    $(document).ready(function() {
        $(function() {
            {foreach $watermarks as $key => $val}
                $("#{$key|noescape}").watermark({$val});
            {/foreach}
        });
    });
</script>