{block #header_tmpl}
{/block}
{block #content}
<div class="pure-u-sm-17-24 main">
    <h1 class="first_item">Intranet</h1>

</div>
<div class="pure-u-sm-1-24">&nbsp;</div>
<div class="pure-u-sm-6-24 leftCol">
    
</div>

{/block}