{block #header_tmpl}
{/block}
{block content}
<div class="pure-u-sm-24-24 main">
<h1>Nette Informace</h1>
<ul>
    <li>Name: {Nette\Framework::NAME}</li>
    <li>Verze: {Nette\Framework::VERSION}</li>
    <li>Revize: {Nette\Framework::REVISION}</li>
</ul>
</div>
{/block}