{block header_tmpl}
{/block}

{block content}
<div class="pure-u-sm-24-24 main">
    <h1 class="first_item">{_'Aktualizace projektů'}</h1>
    <p class="note">Aktualizace projektů - provedeno {$updates2} změn a {$updates1} nových záznamů.</p>
    
</div>
{/block}
