{block header_tmpl}
{/block}

{block content}
<div class="pure-u-sm-24-24 main">
    <h1 class="first_item">Casale Project</h1>
    <div class="pure-u-sm-8-24">
        {control sharepointProjects}
    </div>
    <div class="pure-u-sm-1-24">
    </div>
    <div class="pure-u-sm-1-15">
    </div>
</div>
{/block}
