{block #header_tmpl}
{/block}
{block #header}
{control loginForm}
{control topMenu}
{/block}
{block #content}
<div class="pure-u-sm-17-24 main">
    <div class="alert">Nepřihlášen uživatel. - Špatné jméno/heslo.</div>
</div>
{/block}